<div class="panel">
  <header class="panel__header">Foo</header>
  <section class="panel__section">
    I suggest you drop it, Mr. Data. Yesterday I did not know how to eat gagh. This is not about revenge. This is about justice. Besides, you look good in a dress. Wait a minute - you've been declared dead. You can't give orders around here. Maybe we better talk out here; the observation lounge has turned into a swamp. Why don't we just give everybody a promotion and call it a night - 'Commander'? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. 
  </section>
  <section class="panel__section">
    We know you're dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf. Not if I weaken first. Travel time to the nearest starbase? This is not about revenge. This is about justice. Well, that's certainly good to know.
  </section>
  <footer class="panel__footer"></footer>
</div>
